body {
  background-color: lightblue !important;
}

#body { width: 390px; height: 90px; border: 1px solid #999999; padding: 5px; }

#header{
  display: flex;
  justify-content: center;
  height: 150px;
  padding: 20px;
}

#side-bar{
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 20%;
  float: left;
}

.main{
  display: flex;
  align-items: column;
  justify-content: center;



}
